<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Theme Made By www.w3schools.com - No Copyright -->
<title>Bootstrap Theme Company Page</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="https://fonts.googleapis.com/css?family=Montserrat"
	rel="stylesheet" type="text/css" />

<link href="https://fonts.googleapis.com/css?family=Lato"
	rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" />

<link href="../static/css/FileOne.css" th:href="@{/css/FileOne.css}"
	rel="stylesheet" />
<style>
.form-select-vidconvert {
	border-radius: 18px;
}

#pics {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#pics td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

#pics tr:nth-child(even) {
	background-color: #f2f2f2;
}

#pics tr:hover {
	background-color: #ddd;
}

#pics th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}
</style>

<script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar"
	data-offset="60">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#myPage">Logo</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#about">ABOUT</a></li>
					<li><a href="#services">SERVICES</a></li>
					<li><a href="#portfolio">PORTFOLIO</a></li>
					<li><a href="#pricing">PRICING</a></li>
					<li><a href="#contact">CONTACT</a></li>
				</ul>
			</div>
		</div>
	</nav>






	<th:block th:each="user, iterstat : ${trips}">

	<div th:id="'tripdiv' + ${iterstat.index}">
		<a th:href="@{'/web/tripcity/one/' + ${user.idtrip}}">
	<span th:text="${user.nameCompat()}"></span>
	</a>
	</div>
	
	
	
	
	</th:block>










	<!-- Add Google Maps -->
	<div id="googleMap" style="height: 400px; width: 100%;"></div>
	<script>
		function myMap() {
			var myCenter = new google.maps.LatLng(41.878114, -87.629798);
			var mapProp = {
				center : myCenter,
				zoom : 12,
				scrollwheel : false,
				draggable : false,
				mapTypeId : google.maps.MapTypeId.ROADMAP
			};
			var map = new google.maps.Map(document.getElementById("googleMap"),
					mapProp);
			var marker = new google.maps.Marker({
				position : myCenter
			});
			marker.setMap(map);
		}
	</script>




	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwHq23WcDuRdLYKkxKC-fqeGB4LWtlQD8&callback=myMap"></script>
	<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

	<footer class="container-fluid text-center">
		<a href="#myPage" title="To Top"> <span
			class="glyphicon glyphicon-chevron-up"></span>
		</a>
		<p>
			Bootstrap Theme Made By <a href="https://www.w3schools.com"
				title="Visit w3schools">www.w3schools.com</a>
		</p>
	</footer>

	<script th:src="@{/webjars/jquery/1.9.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	<script th:inline="javascript">
		$(document).ready(

				
	
		
				
				
				
				function() {
					
					
					
					
					   for ( i = 0; i < [[${indsize}]]; i++ ) {
					    	if(i%2==0){
					    		
					    		$('#tripdiv'+i).addClass('container-fluid bg-grey');
							
								}
								else{
									
									$('#tripdiv'+i).addClass('container-fluid');
							
								
								}
					    }
					
					
					
					
					
					// Add smooth scrolling to all links in navbar + footer link
					$(".navbar a, footer a[href='#myPage']").on('click',
							function(event) {
								// Make sure this.hash has a value before overriding default behavior
								if (this.hash !== "") {
									// Prevent default anchor click behavior
									event.preventDefault();

									// Store hash
									var hash = this.hash;

									// Using jQuery's animate() method to add smooth page scroll
									// The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
									$('html, body').animate({
										scrollTop : $(hash).offset().top
									}, 900, function() {

										// Add hash (#) to URL when done scrolling (default click behavior)
										window.location.hash = hash;
									});
								} // End if
							});

					$(window).scroll(function() {
						$(".slideanim").each(function() {
							var pos = $(this).offset().top;

							var winTop = $(window).scrollTop();
							if (pos < winTop + 600) {
								$(this).addClass("slide");
							}
						});
					});
				});
	</script>
</body>
</html>
